/*
    LEAFLET
*/

#map {
    height: 100%;
    position: relative;
    z-index: 1;
}

.leaflet-container {
    height: 100%;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.leaflet-control-zoom-in span, .leaflet-control-zoom-out span {
    font-size: 18px !important;
}

.leaflet-popup-content {
    letter-spacing: 0px !important;
}

.leaflet-popup-content p.title {
    margin-bottom: 13px !important;
    font-weight: 600 !important;
}

.leaflet-popup-content p.content {
    margin-bottom: 12px !important;
    font-weight: 200 !important;
}

.leaflet-popup-content button {
    display: block;
    margin-top: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    background-color: #fff347;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: all 0.1s ease-in-out;
}

.leaflet-popup-content button:hover {
    filter: grayscale(.1) contrast(.9);
}

/*
    GENERAL
*/

#search {
    position: absolute;
    background-color: #FFFFFF;
    padding: 13px 24px;
    margin: 12px;
    border-radius: 12px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    right: 0;
    top: 0;
    z-index: 2;
    border: none;
    height: auto;
}

#search form div {
    display: flex;
    gap: 12px;
}

#search form div input {
    padding: 4px 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a7a7a7;
    flex-grow: 1;
    margin-top: 0;
    width: 100%;
    font-size: 13px;
}

#search form div input:focus-visible {
    outline: none;
}

#search form div button {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    background-color: #fff347;
    cursor: pointer;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: all 0.1s ease-in-out;
}

#search form div button:hover {
    filter: grayscale(.1) contrast(.9);
}

#search form div button svg {
    color: #000000;
    width: 13px;
    height: auto;
}

#search form ul {
    display: block;
    width: 100%;
    list-style-type: none;
}

#search form ul li {
    margin-top: 8px;
    text-wrap: pretty;
}

#search form ul li a {
    color: #2e2d2a;
    display: block;
    border-radius: 4px;
    padding: 4px 8px;
    border: 1px solid #a7a7a7;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#search form ul li a:hover {
    background-color: #fff347;
    color: #000000;
    border: 1px solid #fff347;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

#search form p {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
}

#results {
    position: absolute;
    background-color: #FFFFFF;
    padding: 13px 24px 3px 24px;
    margin: 12px;
    border-radius: 12px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    left: 0;
    bottom: 0;
    z-index: 1;
    border: none;
}

#results .title {
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 17px;
}

#results .description {
    font-size: 13px;
    letter-spacing: 0px;
}

#results button {
    margin: 12px 0;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    background-color: #fff347;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: all 0.1s ease-in-out;
}

#results button:hover {
    filter: grayscale(.1) contrast(.9);
}

#results a {
    position: absolute;
    border: none;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #757575;
    text-decoration: none;
    background: transparent;
    font: 16px / 24px Tahoma, Verdana, sans-serif;
    cursor: pointer;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
    pointer-events: none;
}

.loader p {
    color: #FFFFFF;
    text-align: center;
    line-height: 100vh;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/* === Breakpoint tablette / téléphone === */
@media (max-width: 768px) {
    .leaflet-control-zoom {
        display: none;
    }

    #search {
        max-width: none;
        left: 0;
    }

    #results {
        max-width: none;
        right: 0;
    } 
}

/* === Breakpoint PC / desktop === */
@media (min-width: 769px) {
    .leaflet-control-zoom {
        display: block;
    }

    #search {
        max-width: 380px;
        width: 100%;
    }

    #results {
        max-width: 380px;
        width: 100%;
    }
}